<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>    
    <add name="DefaultConnection" connectionString="Server=LOCDHT_WIN8\SQLEXPRESS2012;Database=VinaGerman;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag. \SQLEXPRESS2012 JAME-MORIARTY LOCDHT_WIN8
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!--LocDHT-PART1-BEGIN: This is necessary to allow WCF impersonate window authentication -->
    <identity impersonate="true" />
    <!--LocDHT-PART1-END: This is necessary to allow WCF impersonate window authentication -->
    <!--LocDHT: remove unecessary module -->
    <httpModules>
      <remove name="OutputCache" />
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="RoleManager" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
    </httpModules>
        <authentication mode="Forms" />
  </system.web>
  <system.serviceModel>
    <!--LocDHT-TRACE-BEGIN: This is necessary to trace error -->
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
    <!--LocDHT-TRACE-END: This is necessary to trace error -->
    <bindings>
      <basicHttpBinding>
        <binding name="formAuthenticationBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>        
        <binding name="commonBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="VinaGerman.Service.Implementation.CompanySvc" behaviorConfiguration="DefaultBehavior">        
        <endpoint address="form" binding="basicHttpBinding" contract="VinaGerman.Service.ICompanySvc" bindingConfiguration="formAuthenticationBinding" name="formAuthenticationBinding" />
      </service>
      <service name="VinaGerman.Service.Implementation.BaseDataSvc" behaviorConfiguration="DefaultBehavior">        
        <endpoint address="form" binding="basicHttpBinding" contract="VinaGerman.Service.IBaseDataSvc" bindingConfiguration="formAuthenticationBinding" name="formAuthenticationBinding" />
      </service>
      <service name="VinaGerman.Service.Implementation.CommonSvc" behaviorConfiguration="DefaultBehavior">
        <endpoint address="common" binding="basicHttpBinding" contract="VinaGerman.Service.ICommonSvc" bindingConfiguration="commonBinding" name="commonBinding" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceCredentials type="VinaGerman.Wcf.Security.Server.PersonnelServiceCredentials, VinaGerman.Wcf.Security">
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="VinaGerman.Wcf.Security.Server.DefaultPersonnelValidator, VinaGerman.Wcf.Security" />
            <!--<serviceCertificate findValue="UPServer" storeLocation="LocalMachine" storeName="Root" x509FindType="FindBySubjectName" />-->
          </serviceCredentials>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="VinaGerman.Wcf.Security.Server.PersonnelAuthorizationManager, VinaGerman.Wcf.Security" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpBinding" scheme="https" />
      <add binding="wsHttpBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--LocDHT-PART2-BEGIN: This is necessary to enable PART1 -->
    <validation validateIntegratedModeConfiguration="false" />
    <!--LocDHT-PART2-END: This is necessary to enable PART1 -->
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <!--<handlers>
            <add name="svc-integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="File" requireAccess="Script" preCondition="integratedMode" />
        </handlers>-->
  </system.webServer>
  <!--<system.data>
    <DbProviderFactories>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0" />
    </DbProviderFactories>
  </system.data>-->
  <!--LocDHT-TRACE-BEGIN: This is necessary to trace error -->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="LogicalOperationStack" initializeData="D:\GitHub\VinaGerman\VinaGerman.Server\log\WCFTrace.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <!--LocDHT-TRACE-END: This is necessary to trace error -->
</configuration>